.bundle
.DS_Store
db/*.sqlite*
*~
doc/*
tmp
tmp/**/*
log/*.log
.project
.settings/*
public/system/*
public/packages
public/stylesheets/cache/*
public/javascripts/cache/*
public/docs
config/s3.yml
config/database.yml
config/s3_backup_credentials.yml
config/sidekiq.yml
config/secret_token.rb
vendor/cache
bin/*.pid
.sass-cache/*
**/.sass-cache/*
**/*/.sass-cache/*
public/uploads
rb-fsevent/*
#Uncomment if pushed to a public repo
config/app.yml
config/database.yml
.swp
*.swp
bin/s3_credentials.yml
.rvmrc
dump.rdb
.ruby-gemset
*.codekit
recent_backup.sql
unpolymorphication-*.txt
**/*.sql
coverage
